body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Menetapkan tinggi halaman */
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #45a049;
}

main {
    padding: 2em;
    flex-grow: 1; /* Membuat konten utama tumbuh untuk mengisi ruang yang tersedia */
}

section {
    margin-bottom: 2em;
}

article.post {
    background-color: #fff;
    padding: 1.5em;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

article.post h3 {
    margin-top: 0;
}

article.post h4, article.post h5 {
    margin-bottom: 0.5em;
}

article.post ul, article.post ol {
    margin-left: 2em;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    width: 100%;
}
